@charset "UTF-8";

@media screen and (max-width: 767px) {  /* Celulares*/
    #sociais a{
        color: white;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {  /* Tablets */
    main{
        max-width: 60vw;
    }

    #sociais a{
        color: white;
    }
}   

@media screen and (min-width: 993px) and (max-width: 1200px) {  /* Desktop */
    main{
        max-width: 60vw;
    }
}

@media screen and (min-width: 1201px){
    main{
        max-width: 60vw;
    }

    #area_tarefas li p{
        width: 90%;
        max-width: 90%;
        word-wrap: break-word;
    }
}